@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.morning-text p{
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}